.newsletter {
  background-color: #fff4e7;
  min-height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  @media (min-width: 767px) {
    flex-direction: row;
  }
  gap: 1rem;
  .social-media-wrapper {
    .social-media {
      padding: 5px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      .social-item {
        text-decoration: none;
        color: #333;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
  }
  .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    h3 {
      font-size: 1rem;
    }
    input {
      text-align: right;
      background-color: transparent;
      border: 1px solid #333;
      padding: 5px 10px;
      &:focus {
        border: 1px solid #0e1e251f;
        outline: 0;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
          rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      }
    }
    button {
      font-size: 1rem;
      width: 100%;
      border: 1px solid #333;
      outline: 0;
      background-color: transparent;
      transition: all 200ms ease-in-out;
      &:hover {
        background-color: #333;
        color: #fff;
      }
    }
    @media (min-width: 767px) {
      flex-direction: row-reverse;
      h3 {
        font-size: 1.2rem;
      }
      button {
        width: 100px;
      }
    }
  }
}
