@import "../../styles/colors.scss";
.top-nav-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0.6rem 0;
  height: 24px;
  .left-menu-container {
    display: flex;
  }
  .right-menu-container {
    display: flex;
  }
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-family: iranSans;
    font-size: 0.75rem;
    font-weight: 100;
    display: flex;
    margin: 0 8px;
    text-decoration: none;
    &:hover {
      color: unset;
      border-bottom: 1px solid $main-color;
      color: $main-color;
    }
    i {
      margin: 0 4px;
      font-size: 1rem;
    }
    p{
      margin: 0;
    }
  }
}
