$main-color: #ccac70;
$background-color: #f0f2f5;
$white: #ffffff;
$dashboard-background: linear-gradient(
  195deg,
  rgb(66, 66, 74),
  rgb(25, 25, 25)
);
$dashboard-text-color: #fefefe;
$dashboard-menu-font-size: 18px;
$dashboard-icon-font-size: 20px;
