.blog-card {
  .card {
    min-height: 350px;
    img {
      height: 200px;
    }
  }
  .blog-card-date {
    color: #a2a2a2;
    font-size: 0.8rem;
    text-align: right;
  }
  .blog-title {
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    transition: all 200ms ease-in-out;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.cs-badge {
  background-color: orange;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.featured-card {
  color: #333;
  transition: all 200ms ease-in-out;
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: all 200ms ease-in-out;
  }
  &:hover {
    img {
      opacity: 0.7;
    }
  }
  .card-img-overlay {
    top: unset !important;
    left: unset !important;
    .blog-date {
      color: #a2a2a2;
      font-size: 0.8rem;
      text-align: right;
    }
    .blog-title {
      font-size: 1.5rem;
      font-weight: bold;
      transition: all 200ms ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.card-row {
  img {
    width: 100%;
    height: 250px;
  }
  .blog-title {
    color: #333;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    font-size: 1.2rem;
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }
}

.card-row-without-badge {
  .card-body {
    a {
      color: #333;
      font-weight: bold;
      font-size: 1rem;
      transition: all 200ms ease-in-out;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
