.section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h3 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
  }
}
